.btn-primary {
    color: #ffffff;
}

// .btn {

//     & .fas {
//         padding-inline-start: 1rem;
//     }
    
//     &:hover {
        
//         & .fas {
//             padding-inline-start: 1rem;
//             margin-inline-start: 1rem;
//         }
//     }
// }

.fas {
    transition: $transition-base;
}

#quick-action__continue {
    border-radius: .5rem;
    border: 1.5px dashed $border-color; 
}

.avatar {
    height: 38px;
    width: 38px;
    margin-inline-start: 0.5rem;
}
.user-action {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    
    &:hover {
        text-decoration: none;
        color: $primary;        
        background-color: $gray-100;
    }
}

.action-center {

    & .nav-item:not(:first-child) {
        padding-inline-start: 1rem;
    }
}