.btn-primary {
    color: #ffffff;
}

.btn-custom {

    & .fas {
        padding-inline-start: 1rem;
    }
    
    &:hover {
        
        & .fas {
            padding-inline-start: 1rem;
            margin-inline-start: 1rem;
        }
    }
}

.fas {
    transition: $transition-base;
    vertical-align: middle;
}

#quick-action__continue {
    border-radius: .5rem;
    border: 1.5px dashed $border-color; 
}

.avatar, .logo {
    height: 32px;
    width: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.user-action {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.action-center .btn{
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

.user-action {
    padding-inline-start: 1rem;
}

.online-carousell {
    overflow-x: scroll;
    padding: 1rem 0;
}

.action-center .nav-item {
    display: flex;
}

.action-center .nav-item .btn{
    color: $gray-400;
    
}

.action-center .nav-item:hover .btn {
    color: $primary;    
}

.nav-link {
    font-weight: 600;
}