*, *:before, *:after {
    box-sizing: border-box;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
}

.uk-section-muted {
    background: rgb(244, 246, 248);
}

.book-cover {
    /* 1:1.4142 */
    height: 362.0352px;
    width: 256px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
    border-bottom: 4px solid rgb(71, 193, 191);
}

.continue_action {
    border: 1px dashed rgb(196, 205, 213);
    border-radius: 8px;
}
